{%- if section.settings.enable == false and request.design_mode == false -%}
{%-else-%}
<div class="dp-section-wrapper n3rd_sections n3rd_one_click" id="dp__{{section.id}}" >
  <div class="page-width">
    <div class="inner-page-width">
      <h2 class="toggle_title {%unless section.settings.default_open %} tactive {%endunless%} toggle_button" style="background-color:{{section.settings.hbackground_color}};color:{{section.settings.htext_color}};">
        {%include "plus_svg"%}
        {{section.settings.headline}}{%if section.settings.sheadline != ""%}<span>{{section.settings.sheadline}}</span>{%endif%}</h2>
      <div class="toggle_content " style="{% if request.design_mode %}max-height: 100% !important;{%endif%}{%if section.settings.background_color != ""%}background-color:{{section.settings.background_color}};color:{{section.settings.text_color}}{%endif%}">
        {%if section.settings.description !="" %}<div class="n3rd_description">{{section.settings.description}}</div>{%endif%}
        <div class="toggle_inner text-center">
          
        <div class="grid grid--uniform">
          <div class="grid__item  medium-up--one-third">
            <div class="content-wrapper">
              {%- assign img_url = section.settings.fimage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          		<img class="lazyload"
               data-src="{{ img_url }}"
               data-widths="[360, 540, 720, 900, 1080, 1600]"
               data-aspectratio="{{ section.settings.fimage.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ section.settings.fimage.alt }}">
              
              <p class="head_line">{{section.settings.ftitle}}</p>
               {{section.settings.fcontent}}
            </div>
          </div>
          <div class="grid__item  medium-up--one-third">
              <div class="content-wrapper">
                {%- assign img_url = section.settings.simage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          		<img class="lazyload"
               data-src="{{ img_url }}"
               data-widths="[360, 540, 720, 900, 1080, 1600]"
               data-aspectratio="{{ section.settings.simage.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ section.settings.simage.alt }}">
               	<p class="head_line">{{section.settings.stitle}}</p>
               {{section.settings.scontent}}
              </div>
          </div>
          <div class="grid__item  medium-up--one-third">
            <div class="content-wrapper">
              {%- assign img_url = section.settings.timage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          		<img class="lazyload"
               data-src="{{ img_url }}"
               data-widths="[360, 540, 720, 900, 1080, 1600]"
               data-aspectratio="{{ section.settings.timage.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ section.settings.timage.alt }}">
              <p class="head_line">{{section.settings.ttitle}}</p>
               {{section.settings.tcontent}}
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% style %}
#dp__{{section.id}} .inner-page-width{
	padding:{{section.settings.padding}}
}
@media only screen and (max-width: 768px) {
  #dp__{{section.id}} .inner-page-width{
  	padding:{{section.settings.mobile_padding}};
  }
}
{% endstyle %}
{%endif%}
