{%unless section.settings.fullWidth%}
<div class="page-width">
  {%endunless%}
  <div class="custom_background">
    {% if section.settings.section_title != blank %}
      <div class="section-header">
        <h3 class="section-header__title">{{ section.settings.section_title }}</h3>
        {% if section.settings.section_content != blank %}<div class="section_description">{{ section.settings.section_content }}</div>{% endif %}
      </div>
    {% endif %}

    <div class="gallery-pro-wrapper" id="dp__{{section.id}}">
      <div class="gallery-sizer column-{{section.settings.columns}}"></div>
      {% for block in section.blocks %}
        <div class="gallery-item column-{{section.settings.columns}}" id="dp_bl_{{block.id}}" >
          {% if block.settings.image != blank %}
            <div class="gallery_item_info">
              {%- assign image = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.image | img_url: '720x' }}" data-mobsrc="{{ block.settings.image | img_url: '480x' }}" data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.image.alt }}">
              <noscript>
                <img class="lazyloaded" src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt }}">
              </noscript>

              <div class="gallery_content_info">
                <div class="gallery_content-box">
                  {% if block.settings.title != "" %}
                    <div class="imagebox__title">{{block.settings.title}}</div>
                    {% if block.settings.description != "" %}<p>{{block.settings.description}}</p>{% endif %}
                  {% endif %}
                  <div class="imagebox__btnwrap">
                    {% if block.settings.link %}
                      <a href="{{block.settings.link}}" class="imagebox__btn ny0hes">{{block.settings.button_name}}</a>
                    {% endif %}
                    {% if block.settings.link_second %}
                      <a href="{{block.settings.link_second}}" class="imagebox__btn ny0hes">{{block.settings.button_name_second}}</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% style %}
            #dp_bl_{{block.id}} {
              padding:{{block.settings.padding}};
            }
            #dp_bl_{{block.id}} .gallery_content_info {
              {% if block.settings.alignment == "top" %}
                align-items:flex-start;
              {% endif %}
              {% if block.settings.alignment == "bottom" %}
                align-items:flex-end;
              {% endif %}
            }
            @media only screen and (max-width: 540px) {
              #dp_bl_{{block.id}} {
                padding:{{block.settings.mobile_padding}};
              }
            }
          {% endstyle %}
        </div>
      {% endfor %}
    </div>
  </div>
  {%unless section.settings.fullWidth%}
</div>
{%endunless%}

{% style %}
  #shopify-section-{{section.id}} {
    background-color:{{section.settings.background_color}};
  }
  #shopify-section-{{section.id}}.depro-gallery .custom_background {
    padding:{{section.settings.padding}};
  }
  #shopify-section-{{section.id}} .custom_background {
    margin-left:-20px;
    margin-right:-20px;
  }
  @media only screen and (max-width: 768px) {
    #shopify-section-{{section.id}}.depro-gallery .custom_background {
      padding:{{section.settings.mobile_padding}};
    }
  }
  @media only screen and (max-width: 540px) {
    #shopify-section-{{section.id}} .custom_background {
      margin-left:-5px;
      margin-right:-5px;
    }
  }
  @media only screen and (max-width: 640px) {
    #shopify-section-{{section.id}} .gallery_item_info {
      padding: 5px !important;
    }
  }
{% endstyle %}