<div class="dp-section-wrapper" id="dp__{{section.id}}">
{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div
  data-section-id="{{ section.id }}"
  data-section-type="featured-content-section"
  class="text-{{ section.settings.align_text }}">

  <div class="page-width">
    <div class="custom-content">
    <div class="grids" >
      <div class="grid__item{% if section.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %}">
        {% if section.settings.title != blank %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}

        {% if section.settings.text != blank %}
          <div class="rte">
            {% if section.settings.enlarge_text %}<div class="enlarge-text">{% endif %}
            {{ section.settings.text }}
            {% if section.settings.enlarge_text %}</div>{% endif %}
          </div>
        {% endif %}

        {% for block in section.blocks %}
          <div class="rte" {{ block.shopify_attributes }}>
            {% case block.type %}
              {% when 'page' %}
                {% if block.settings.home_page_content != blank %}
                  {{ pages[block.settings.home_page_content].content }}
                {% else %}
                  {{ 'home_page.onboarding.no_content' | t }}
                {% endif %}
              {% when 'text' %}
                {% if block.settings.home_page_richtext != blank %}
                  {% if block.settings.enlarge_text %}<div class="enlarge-text">{% endif %}
                  {{ block.settings.home_page_richtext }}
                  {% if block.settings.enlarge_text %}</div>{% endif %}
                {% else %}
                  {{ 'home_page.onboarding.no_content' | t }}
                {% endif %}
            {% endcase %}
          </div>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
</div>

{% if section.settings.divider %}</div>{% endif %}
</div>
{% style %}
  #dp__{{section.id}} .custom-content{
	padding:{{section.settings.padding}};
	background-color:{{section.settings.background_color}};
	{%if section.settings.text_color%}color:{{section.settings.text_color}};{%endif%}
  }
#dp__{{section.id}} .custom-content a{
{%if section.settings.text_color%}color:{{section.settings.text_color}} !important;{%endif%}
border-color:{{section.settings.text_color}} !important;
}

  @media only screen and (max-width: 768px) {
	#dp__{{section.id}} .custom-content{
      padding:{{section.settings.mobile_padding}};
    }
  }
{% endstyle %}