{% unless limit %}
  {%- assign limit = main_menu.links.size -%}
{% endunless %}
{% unless offset %}
  {%- assign offset = 0 -%}
{% endunless %}

<ul class="site-nav site-navigation custom_dropdown small--hide"{% unless disable_aria %} role="navigation" aria-label="Primary"{% endunless %}>
  {% for link in main_menu.links limit: limit offset: offset %}
    {%- assign has_dropdown = false -%}
    {%- assign is_megamenu = false -%}
    {% if link.links != blank %}
      {%- assign has_dropdown = true -%}
      {% if link.levels > 1 %}
        {%- assign is_megamenu = true -%}
      {% endif %}
    {% endif %}

    <li class="dp-{{link.title | handle}} site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown site-nav--is-megamenu{% endif %}"{% if has_dropdown %} aria-haspopup="true"{% endif %}>
      <a href="{{ link.url }}" class=" site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}">
        {{ link.title }}
      </a>

      {% if link.links.size > 0 %}
        <div class="site-nav__dropdown megamenu text-left">
          <div class="page-width">
            <div class="megamenuContainer">
              {% for childlink in link.links %}
                <div class="megamenuWrapper">
                  <div class="megamenuTitle">{{ childlink.title }}</div>
                  {% if childlink.url contains '/collections/' %}
                    {% assign collectionHandle = childlink.url | split: '/' | last %}
                    {% assign navCollection = collections[collectionHandle] %}
                    <div class="megamenuContent">{{ navCollection.description | strip_html | strip | truncate: 150, '...' }}</div>
                  {% endif %}
                  <div class="megamenuLink"><a href="{{ childlink.url }}">Shop {{ childlink.title }}</a></div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
