{% unless limit %}
  {%- assign limit = main_menu.links.size -%}
{% endunless %}
{% unless offset %}
  {%- assign offset = 0 -%}
{% endunless %}

<ul class="site-nav site-navigation custom_dropdown small--hide"{% unless disable_aria %} role="navigation" aria-label="Primary"{% endunless %}>
  {% for link in main_menu.links limit: limit offset: offset %}
    {%- assign has_dropdown = false -%}
    {%- assign is_megamenu = false -%}
    {% if link.links != blank %}
      {%- assign has_dropdown = true -%}
      {% if link.levels > 1 %}
        {%- assign is_megamenu = true -%}
      {% endif %}
    {% endif %}

    <li class="dp-{{link.title | handle}} site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown site-nav--is-megamenu{% endif %}"{% if has_dropdown %} aria-haspopup="true"{% endif %}>
      <a href="{{ link.url }}" class=" site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}">
        {{ link.title }}
      </a>

      {% if link.links.size > 0 %}
        <div class="site-nav__dropdown megamenu styled_megamenu text-left">
          <div class="megamenuContainer">
            {% for childlink in link.links %}
              <div class="megamenuWrapper">
                <div class="megamenuTitle">{{ childlink.title }}</div>
                {% assign collectionHandle = childlink.url | split: '/' | last %}
                {% assign navCollectionDescription = '' %}
                {% if childlink.url contains '/collections/' %}
                  {% assign navCollection = collections[collectionHandle] %}
                  {% assign navCollectionDescription = navCollection.description | strip_html | strip | split: '</p>' | first %}
                {% endif %}
                {% if childlink.url contains '/pages/' %}
                  {% assign navCollection = pages[collectionHandle] %}
                  {% assign navCollectionDescription = navCollection.content | strip_html | strip | split: '</p>' | first %}
                {% endif %}
                <div class="megamenuContent">
                  {% if navCollectionDescription != blank %}
                    {{ navCollectionDescription }}
                  {% else %}
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ab accusamus explicabo velit.
                  {% endif %}
                </div>
                <div class="megamenuLink">
                  <ul>
                    {% if childlink.links.size > 0 %}
                      {% for grandchild in childlink.links %}
                        <li>
                          <a href="{{ grandchild.url }}">{{ grandchild.title }}</a>
                        </li>
                      {% endfor %}
                    {% else %}
                      <li>
                        <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
