<div class="dp-section-wrapper" id="dp__{{ section.id }}">
{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div
  class="page-width fw-testimonial none-padding text-{{ section.settings.align_text }}"
  data-section-id="{{ section.id }}"
  data-section-type="testimonials">
  <div class="customer_say_content">
    <div class="left_side_content">
  
    <div class="section-header">
      {% if section.settings.title != blank %}
      <h3>{{ section.settings.title | escape }}</h3>
      {% endif %}
      {%- assign img_url = section.settings.main_background_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080]"
                      data-aspectratio="{{ section.settings.main_background_image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ section.settings.main_background_image.alt }}">
    </div>
  
    </div>
    <div class="right_side_content">
  {% if section.blocks.size > 0 %}
    <div class="testimonials-wrapper">
     
      <div class="testimonials-slider" id="Testimonials-{{ section.id }}" data-count="{{ section.blocks.size }}" data-show="{{ section.settings.slider_per_page }}">
        {% for block in section.blocks %}
          <div
            class="testimonials-slide--{{ block.id }}"
            data-aos="row-of-{{ section.blocks.size }}"
            {{ block.shopify_attributes }}>
            <blockquote class="testimonials-slider__text">
              <center><span class="quote-icon"><img src="https://cdn.shopify.com/s/files/1/0267/6834/3122/files/1f49151004c207fcd82c8bfdbdffddf1.svg?v=1623401098"></span></center>
              {% if block.settings.testimonial != blank %}
                <div class="rte-setting text-spacing custom_font">{{ block.settings.testimonial }}</div>
              {% endif %}
              {% if block.settings.image != blank %}
                <div
                  class="image-wrap text-spacing testimonail-image{% if section.settings.round_images %} testimonail-image--round{% endif %}">
                  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080]"
                      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image.alt }}">
                  <noscript>
                    <img class="lazyloaded" src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt }}">
                  </noscript>
                </div>
              {% endif %}
              {% if block.settings.author != blank %}
                <cite>{{ block.settings.author | escape }}</cite>
              {% endif %}
            </blockquote>
          </div>
        {% endfor %}
      </div>
      
    </div>
  {% endif %}
    </div>
  </div>
</div>

{% if section.settings.divider %}</div>{% endif %}

</div>
{% style %}
#dp__{{section.id}}{
padding:{{section.settings.padding}};
}
#dp__{{section.id}}{
{%if section.settings.background_color == "#ffffff"%}
	background-color:#f7f6f2;
{%else%}
background-color:{{section.settings.background_color}};
{%endif%}
}
#dp__{{section.id}} .right_side_content{
padding:50px 0px;
{%if section.settings.main_background_color %}
background:url({{section.settings.main_background_color | img_url: "600x"}}) no-repeat;	
background-size:100% 100%;
{%endif%}
}
#dp__{{section.id}} .testimonials-slider__text{
	color:{{section.settings.main_color}};
 	font-size:1.3em;
	max-width:800px;
	margin:auto;
	
}	
#dp__{{section.id}} .testimonials-wrapper .slick-dots{
 text-align:left;
 max-width:800px;
 margin:auto;
}
#dp__{{section.id}} .customer_say_content cite:before{
	width: 40px;
    height: 10px;
    position: relative;
    background-image: url(https://cdn.shopify.com/s/files/1/0267/6834/3122/files/j.svg?v=1622279647);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 10px;
    content: "";
}
#dp__{{section.id}} .testimonials-slider__text cite{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  color:#F9C138;
}
#dp__{{section.id}} .testimonials-wrapper .slick-dots li button::before{
background-color:{{section.settings.main_color}} !important; 
width:12px !important;
height:12px !important;
}
#dp__{{section.id}}  .slick-dots li{
 margin:10px;
}
  @media only screen and (max-width: 768px) {
	#dp__{{section.id}}{
      padding:{{section.settings.mobile_padding}};
    }
  }
{% endstyle %}
{% schema %}
  {
    "name": "Testimonial(FW)",
    "class": "fw-sections",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Customers Say"
      },
	  
	  {
        "type": "color",
        "id": "background_color",
        "label": "Custom background color ",
        "default": "#ffffff"
      },
	  {
        "type": "select",
        "id": "slider_per_page",
        "label": "Testimonial per page",
        "default": "3",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ]
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "round_images",
        "label": "Circular images",
        "info": "Requires square images"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      },
	  {
        "type": "header",
        "content": "Main content settings"
      },
	  {
        "type": "image_picker",
        "id": "main_background_image",
        "label": "Background image"
      },
      {
        "type": "image_picker",
        "id": "main_background_color",
        "label": "Custom background color "
      },
	 {
        "type": "color",
        "id": "main_color",
        "label": "Tesimonials text color ",
        "default": "#ffffff"
      },
	  {
        "type": "header",
        "content": "Padding Setting"
      },
	  {
        "type": "text",
        "id": "padding",
        "label": "Desktop Padding",
        "default": "0px 0px 0px 0px",
		"info" : "Top right bottom left"
      },
	  {
        "type": "text",
        "id": "mobile_padding",
        "label": "Mobile Padding",
        "default": "0px 0px 0px 0px",
		"info" : "Top right bottom left"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonial(FW)",
        "category": "Deprohoang Sections",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}
