<div class="hideforlive custom_background fw-sections"  id="dp__{{section.id}}">
{%if section.settings.divider %}<div class="section--divider">{% endif %}
{%if section.settings.space_around %}<div class="index-section">{% endif %}  
<div class="page-width">
  <div class="inner-page-width ">
  <h1 class="">{{section.settings.section_title}}</h1>
  {{section.settings.section_content}}
  <div class="grid grid--uniform">
  {%if section.blocks.size == 1%}
  	{%assign classs=" medium-up--one-whole"%}
  {%elsif section.blocks.size == 2%}
  {%assign classs=" medium-up--one-half "%}
  {%elsif section.blocks.size == 3 or section.blocks.size == 6%}
  	{%assign classs=" medium-up--one-third"%}
   
  {%else%}
  	{%assign classs=" medium-up--one-quarter "%}
  {%endif%}
  {%if section.id=="whatisinclude-pro-33379554707538"%}
    {%assign classs=" medium-up--one-half "%}
  {%endif%}
  {%for block in section.blocks %}
  <div class="grid__item {{classs}}">
    <div class="dp__include_box" >
      <h2>{{block.settings.include_title}}</h2>
      {%if block.settings.include_image %}
      {%- assign image = block.settings.include_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        <img class="lazyload"
                data-src="{{ image  }}"
                data-widths="[360, 540, 720, 900, 1080, 1600]"
                data-aspectratio="{{ block.settings.include_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ block.settings.include_image.alt }}"> 
        {%endif%}
      <div style="max-width:{{block.settings.max_width}};margin:auto;">
        {{block.settings.include_content}}
      </div>
  	  </div>
   </div>
  {%endfor%}
   </div>
  </div>
  <div class="inner-page-width">
  {{section.settings.extra_content}}
  </div>
</div>

{%if section.settings.space_around %}</div>{% endif %}
{%if section.settings.divider %}</div>{% endif %}
</div>
{% style %}
#dp__{{section.id}}{
padding:{{section.settings.padding}};
}
#dp__{{section.id}}{
position:relative;
background-color:{{section.settings.background_color}};
color:{{section.settings.color}};
text-align:{{section.settings.text_align}};
}

#dp__{{section.id}}  .dp__include_box{
padding:{{section.settings.content_padding}};
text-align:{{section.settings.text_align}};
margin:auto;
}
#dp__{{section.id}}  .dp__include_box img{
max-width:300px;
margin:auto;
}

@media only screen and (max-width: 768px) {
#dp__{{section.id}}{
padding:{{section.settings.mobile_padding}};
}

#dp__{{section.id}}  .dp__include_box{
padding:{{section.settings.content_mobile_padding}};
}
}
{% endstyle %}
{% schema %}
  {
    "name": "What’s Included(FW)",
    "settings": [
	  {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "space_around",
        "label": "Add spacing above and below",
        "default": true
      },
      {
        "type": "header",
        "content": "Section padding Setting"
      },
	  {
        "type": "text",
        "id": "padding",
        "label": "Desktop Padding",
        "default": "0px 0px 0px 0px",
		"info" : "Top right bottom left"
      },
	  {
        "type": "text",
        "id": "mobile_padding",
        "label": "Mobile Padding",
        "default": "0px 0px 0px 0px",
		"info" : "Top right bottom left"
      },
	  {
        "type": "color",
        "id": "color",
        "label": "Custom color ",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "background_color",
        "label": "Custom background color ",
        "default": "#f7f6f2"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text align",
        "default": "left",
        "options": [
        {
        "value": "left",
        "label": "Left"
        },
        {
        "value": "center",
        "label": "Center"
        },
        {
        "value": "right",
        "label": "Right"
        }
        ]
      },
	  {
        "type": "header",
        "content": "Content padding Setting"
      },
      {
        "type": "text",
        "id": "content_padding",
        "label": "Desktop Padding",
        "default": "0px 0px 0px 0px",
        "info" : "Top right bottom left"
      },
      {
        "type": "text",
        "id": "content_mobile_padding",
        "label": "Mobile Padding",
        "default": "0px 0px 0px 0px",
        "info" : "Top right bottom left"
      },
	  {
        "type": "header",
        "content": "Section Infomation"
      },
	  {
        "type": "text",
        "id": "section_title",
        "label": "Title"
      },
	  {
        "type": "html",
        "id": "section_content",
        "label": "Description"
      },
	  {
        "type": "html",
        "id": "extra_content",
        "label": "Extra Content"
      }
	],
	"blocks": [
      {
        "type": "include",
        "name": "Include",
	    "settings": [
          {
            "type": "text",
            "id": "include_title",
            "label": "Title"
          },
	      {
            "type": "image_picker",
            "id": "include_image",
            "label": "IMAGE"
          },
		  {
            "type": "html",
            "id": "include_content",
            "label": "Content"
          },
		  {
            "type": "text",
            "id": "max_width",
            "label": "Content max width",
			"default":"220px"
          }
		  
        ]
      }
	],
	"presets": [
      {
        "name": "What’s Included(FW)",
        "category": "Deprohoang Sections",
        "blocks": [
          {
            "type": "include",
            "settings": {
              "include_title": "PRESETS",
			  "include_content":"",
			  "max_width":"220px"
            }
          },
		  {
            "type": "include",
            "settings": {
              "include_title": "TOOLS",
			  "include_content":"<ul><li>Auto White Balance</li><li>Lens Correction</li><li>Auto Transform</li><li>Orange Reduction</li><li>Tone Profiles</li><li>Grain</li></ul>",
			  "max_width":"180px"
            }
          },
		  {
            "type": "include",
            "settings": {
              "include_title": "BONUS EDUCATION",
			  "include_content":"<ul><li>Three RAW images to get you started</li><li>A step-by-step editing tutorial video</li><li>A guide to getting started with the Mastin 3-Step Workflow™, tech support, and access to all future updates.</li></ul>",
			  "max_width":"220px"
            }
          }
			
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
