<div class="dp-section-wrapper fw-sections" id="dpp__{{section.id}}" style="background-color:{{section.settings.background_color}}">
{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div class="page-width">
  {% capture image_layout %}
    <div class="feature-row__item">
      <div style="margin: 0 auto; max-width: {{ section.settings.image_width }}px;">
        {% if section.settings.image != blank %}
          {% if section.settings.button_label != blank and section.settings.button_link != blank %}<a href="{{ section.settings.button_link }}">{% endif %}
          <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
            {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="feature-row__image lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080]"
                data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ section.settings.image.alt }}">
          </div>
          {% if section.settings.button_label != blank and section.settings.button_link != blank %}</a>{% endif %}
        {% else %}
          <div class="image-wrap">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endcapture %}

  <div class="feature-row" data-aos>
    {% if section.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }}">
      {% if section.settings.subtitle != blank %}
        <p class="h5 subtitle">{{ section.settings.subtitle }}</p>
      {% endif %}
      {% if section.settings.title != blank %}
        <p class="h3">{{ section.settings.title | escape }}</p>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte featured-row__subtext">{{ section.settings.text }}</div>
      {% endif %}
    </div>

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>

{% if section.settings.divider %}</div>{% endif %}
</div>
{% style %}

#shopify-section-{{ section.id }} .featured-row__subtext a.btn{
  color: {{ section.settings.btn_color}};
  border-color: {{ section.settings.btn_color_border}};
  background-color:{{ section.settings.btn_color_bg}};
}
#shopify-section-{{ section.id }} .featured-row__subtext a.btn[href*=capture]{
	border-color: {{ section.settings.btn_color_border}} !important;
	background-color:{{ section.settings.btn_color}} !important;
	color: {{ section.settings.btn_color_bg}} !important;
}
#shopify-section-{{ section.id }} .featured-row__subtext a.btn:hover{
  color: {{ section.settings.btn_color_hover}};
  border-color: {{ section.settings.btn_color_border_hover}};
  background-color:{{ section.settings.btn_color_bg_hover}};
}
#shopify-section-{{ section.id }} .subtitle{
	color: {{ section.settings.subtitle_color}};
}
#shopify-section-{{ section.id }} .featured-row__subtext hr{
	border-color:#B7B7AE !important;
}
#shopify-section-{{ section.id }} .feature-row__text{
	margin:30px 0px !important;
}
#shopify-section-{{ section.id }} .featured-row__subtext h4{
	margin:30px 0px !important;
}

#dpp__{{section.id}}{
	padding:{{section.settings.padding}};
}
@media only screen and (max-width: 768px) {
	#dpp__{{section.id}}{
		padding:{{section.settings.mobile_padding}} !important;
	}
}
{% endstyle %}
{% schema %}{"name":"Image with HTML(FW)","class":"index-section","settings":[{"type":"image_picker","id":"image","label":"Image"},{"type":"text","id":"padding","label":"Custom Padding ","default":"0px 0px 0px 0px","info":"Top right bottom left"},{"type":"text","id":"mobile_padding","label":"Mobile Padding","default":"0px 0px 0px 0px","info":"Top right bottom left"},{"type":"color","id":"background_color","label":"Custom background color ","default":"#ffffff"},{"type":"range","id":"image_width","label":"Image width","default":500,"min":100,"max":500,"step":10,"unit":"px"},{"type":"text","id":"subtitle","label":"Subheading","default":"Improved"},{"type":"color","id":"subtitle_color","label":"Subheading color ","default":"#000000"},{"type":"text","id":"title","label":"Heading","default":"Image with text"},{"type":"html","id":"text","label":"Text","default":"<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.<\/p>"},{"type":"color","id":"btn_color","label":"Buttons color","default":"rgba(0,0,0,1)"},{"type":"color","id":"btn_color_border","label":"Buttons border color","default":"rgba(0,0,0,1)"},{"type":"color","id":"btn_color_bg","label":"Buttons background color","default":"rgba(0,0,0,0)"},{"type":"color","id":"btn_color_hover","label":"Buttons color Hover","default":"rgba(0,0,0,1)"},{"type":"color","id":"btn_color_border_hover","label":"Buttons border color Hover","default":"rgba(0,0,0,1)"},{"type":"color","id":"btn_color_bg_hover","label":"Buttons background color Hover","default":"rgba(0,0,0,0)"},{"type":"select","id":"layout","label":"Layout","default":"left","options":[{"value":"left","label":"Image on left"},{"value":"right","label":"Image on right"}]},{"type":"checkbox","id":"divider","label":"Show section divider","default":false}],"default":{}}{% endschema %}
