<div class="page-width">
  <div class="bastReviewContainer">
    <div class="bestReviewWrapper">
      <div class="bestReviewLeft">
        {%if product.metafields.rel.related_product != blank %}
          {%assign product_get = product.metafields.rel.related_product.value %}
        {% else%}
          {%assign product_get = product%}
        {% endif%}

        {%assign avg = product_get.metafields.stamped.reviews_average | minus: 0.0001 | round:1 %}
        {%if avg > 0%}
          <div class="review-small-wrapper">
            <span data-id="{{ product_get.id }}" data-product-sku="{{ product_get.handle }}" data-product-type="{{product_get.type}}" data-product-title="{{product_get.title}}" style="display: inline-block;">
              {{ product.metafields.stamped.badge }}
            </span>
          </div>
        {%endif%}
        {% if section.settings.title != blank %}<h2 class="title">{{ section.settings.title }}</h2>{% endif %}
        <div class="content">
          {% if section.settings.content != blank %}{{ section.settings.content }}{% endif %}
          {% if section.settings.link != blank and section.settings.linkLabel != blank %}
            <div class="link">
              <a href="{{ section.settings.link }}">{{ section.settings.linkLabel }}</a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="bestReviewRight">
        <ul class="bestReviewList">
          {% for block in section.blocks %}
            <li class="bestReview">
              <div class="bestReviewInner">
                <h3 class="bestReviewTitle">{{ block.settings.title }}</h3>
                <div class="bestReviewContent">
                  {{ block.settings.content }}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="productReviewTemplate">
    {% if product.metafields.rel.related_product != blank %}
      {% assign product_get = product.metafields.rel.related_product.value %}
    {% else %}
      {% assign product_get = product %}
    {% endif %}
    <!--Start Stamped.io Auto Installation-->
    <div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product_get.id }}" data-name="{{ product_get.title | escape }}" data-take-reviews="2" data-url="{{ shop.url }}{{ product_get.url }}" data-image-url="{{ product_get.featured_image | product_img_url: 'large' | replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product_get.description | strip_html | escape }}" data-product-sku="{{product_get.handle}}" data-product-type="{{product_get.type}}">{{ product_get.metafields.stamped.reviews }}</div>
    <!--End Stamped.io Auto Installation-->
  </div>
</div>

{% schema %}
{
  "name": "Best Reviews",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Born from film, made for you."
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas leo sed.</p>"
    },
    {
      "type": "text",
      "id": "linkLabel",
      "label": "Link Label",
      "default": "SEE MORE REVIEWS"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "bgColor",
      "label": "Background Color",
      "default": "#271D2E"
    },
    {
      "type": "color",
      "id": "text",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "paddingTop",
      "label": "Padding Top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 75
    },
    {
      "type": "range",
      "id": "paddingBottom",
      "label": "Padding Bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 75
    }
  ],
  "blocks": [
    {
      "name": "Review",
      "type": "review",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Review Title",
          "default": "Value Prop 1"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Review Content",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Review",
      "name": "Best Reviews",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.bgColor }};
    color: {{ section.settings.text }};
    margin: 0;
    padding: {{ section.settings.paddingTop }}px 0 {{ section.settings.paddingBottom }}px;
  }
  #shopify-section-{{ section.id }} .bestReviewWrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
  }
  #shopify-section-{{ section.id }} .bestReviewWrapper > div {
    padding: 15px;
  }
  #shopify-section-{{ section.id }} .bestReviewLeft {
    width: 40%;
  }
  #shopify-section-{{ section.id }} .bestReviewRight {
    width: 60%;
  }
  #shopify-section-{{ section.id }} .title {
    font-family: Lora;
    font-size: 2.625rem;
    line-height: 1.15;
    margin-bottom: 1.5rem;
  }
  #shopify-section-{{ section.id }} .content {
    color: #8B8787;
    font-size: 18px;
  }
  #shopify-section-{{ section.id }} .link {
    font-family: 'Work Sans',sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 1em;
    text-align: left;
  }
  #shopify-section-{{ section.id }} .link a {
    color: #3B72A1;
  }
  #shopify-section-{{ section.id }} .link a:focus,
  #shopify-section-{{ section.id }} .link a:hover {
    color: #ff5121;
  }
  #shopify-section-{{ section.id }} .review-small-wrapper .stamped-badge .stamped-badge-caption span {
    display: inline-block !important;
    margin-left: .5rem;
    text-transform: capitalize;
    visibility: visible;
  }
  #shopify-section-{{ section.id }} .bestReviewList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 -15px;
  }
  #shopify-section-{{ section.id }} .bestReview {
    padding: 15px;
    width: 50%;
  }
  #shopify-section-{{ section.id }} .bestReviewInner {
    background: rgba(247, 246, 242, 0.49);
    border: 2px solid #F7F6F2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1rem;
  }
  #shopify-section-{{ section.id }} .bestReviewTitle {
    font-family: Lora;
    font-size: 27px;
    font-weight: 700;
  }
  #shopify-section-{{ section.id }} .bestReviewContent {
    color: #8B8787;
    font-family: 'Work Sans',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.15;
  }
  #shopify-section-{{ section.id }} .bestReviewContent p {
    font-family: initial;
    margin: 0;
  }

  /* Review Widget */
  #shopify-section-{{ section.id }} .productReviewTemplate {
    display: none;
    padding-top: {{ section.settings.paddingTop }}px;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget {
    margin: 0;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget link,
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget::before,
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget::after {
    display: none;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px !important;
    max-width: initial;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-header-title {
    width: 100%;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-header {
    padding: 15px;
    width: 25%;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-summary {
    display: flex;
    flex-direction: column;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-summary * {
    float: none;
    margin: 0;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-summary > * {
    order: 1;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-summary-ratings {
    border: none;
    margin-top: 4.75rem;
    order: 2;
    padding-left: 0;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget span.stamped-summary-actions {
    margin-top: 1.875rem !important;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-content {
    padding: 15px;
    width: 75%;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-tab-container {
    display: none;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-reviews {
    border: 1px solid #B7B7AE;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-reviews * {
    margin: 0;
    padding: 0;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-review {
    border-color: #B7B7AE;
    margin: 0;
    padding: 40px;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-review-content {
    margin: 0;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-review {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-review .stamped-review-header,
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-review .stamped-starratings {
    width: auto;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-review-header-title {
    font-family: Lora;
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1.625rem;
    width: 100%;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate .stamped-summary-caption.stamped-summary-caption-1 {
    font-family: Lora !important;
    font-size: 42px;
    font-weight: 500;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate .stamped-summary-caption.stamped-summary-caption-2 {
    font-family: Work Sans !important;
    font-size: 16px;
    font-weight: 300;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget p.stamped-review-content-body {
    font-family: 'Work Sans',sans-serif;
    font-size: 18px;
    line-height: 1.3;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget strong.author {
    font-family: 'Work Sans',sans-serif;
    font-size: 18px;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget span.stamped-verified-badge::before {
    background-image: url("{{ 'bag.svg' | asset_url }}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-left: 1px solid #B7B7AE;
    content: "";
    height: 1.125rem;
    margin-left: 1rem;
    padding: 0 1.5rem;
    width: 1.125rem;
  }
  #shopify-section-{{ section.id }} #stamped-main-widget  ul.stamped-pagination.stamped-reviews-ul {
    border-top: 1px solid #B7B7AE;
    padding: 1rem;
  }
  #shopify-section-{{ section.id }} #stamped-main-widget  ul.stamped-pagination.stamped-reviews-ul li + li {
    margin-left: .5em
  }
  #shopify-section-{{ section.id }} #stamped-main-widget  ul.stamped-pagination.stamped-reviews-ul li::after {
    display: none;
  }
  #shopify-section-{{ section.id }} #stamped-main-widget  ul.stamped-pagination.stamped-reviews-ul a {
    background: unset;
    background-color: transparent;
    border: 1px solid #f45332;
    border-radius: 0;
    color: #f45332;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .3em;
    line-height: 1.42;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
  }
  #shopify-section-{{ section.id }} #stamped-main-widget ul.stamped-pagination.stamped-reviews-ul li.active a {
    background-color: #f45332;
    color: #fff;
  }
  #shopify-section-{{ section.id }} .summary-rating-bar-content {
    background-color: #B7B7AE;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-summary-actions-newreview {
    background: unset;
    background-color: #f45332;
    border: 1px solid #f45332;
    border-radius: 0;
    box-shadow: none !important;
    color: #FFF;
    display: inline-block;
    font-family: 'Work Sans',sans-serif;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.1em;
    min-width: 15rem;
    overflow: hidden;
    padding: 11px 20px;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-summary-actions-newreview::after {
    background-image: linear-gradient(to right,transparent,rgba(255,255,255,.25),transparent);
    content: '';
    height: 100%;
    left: 150%;
    position: absolute;
    top: 0;
    transform: skewX(-20deg);
    width: 200%;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-summary-actions-newreview:hover {
    background-color: #f45332;
    color: #fff;
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-summary-actions-newreview:hover::after {
    animation: shine .75s cubic-bezier(.01,.56,1,1);
  }
  #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-summary-actions-newreview:before {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.25 9.06287V11.2504H2.4375L8.88917 4.79871L6.70167 2.61121L0.25 9.06287Z' fill='white'/%3E%3Cpath d='M10.5802 2.2844L9.2152 0.919404C8.9877 0.691904 8.62019 0.691904 8.39269 0.919404L7.3252 1.9869L9.5127 4.1744L10.5802 3.1069C10.8077 2.8794 10.8077 2.5119 10.5802 2.2844Z' fill='white'/%3E%3C/svg%3E");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 50%;
    color: transparent;
    font-size: 1.3em;
    line-height: 1;
    margin: 0;
    position: relative;
    top: -0.15em;
    vertical-align: middle;
  }
  @media only screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .bestReviewLeft,
    #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-header,
    #shopify-section-{{ section.id }} .productReviewTemplate #stamped-main-widget .stamped-content {
      width: 100%;
    }
    #shopify-section-{{ section.id }} .bestReviewRight {
      display: none;
    }
    #shopify-section-{{ section.id }} .productReviewTemplate {
      padding-top: 0;
    }
  }
{% endstyle %}

<script type="text/javascript">
  (function() {
    jQuery(document).ready(function($) {
      jQuery('#shopify-section-{{ section.id }} .stamped-review').each(function() {
        jQuery(this).find('.stamped-review-header').before(jQuery(this).find('.stamped-starratings'));
      });
      jQuery('#shopify-section-{{ section.id }} .link a').on('click', function(e) {
        e.preventDefault();
        if(jQuery('#shopify-section-{{ section.id }} .productReviewTemplate').is(':visible')) {
          jQuery(this).text('SEE MORE REVIEWS');
        } else {
          jQuery(this).text('SEE LESS REVIEWS');
        }

        jQuery('#shopify-section-{{ section.id }} .productReviewTemplate').slideToggle();
      })

      const page = $("html, body");
      page.bind('DOMSubtreeModified', function (e) {
        $(document).find("#shopify-section-{{ section.id }} .stamped-pagination a").on('click', function(e) {
          setTimeout(function() {
            jQuery('html, body').queue([]).stop();
          }, 10);
        });
      })
    });
  })()
</script>