<div class="page-width">
  <div class="custom_background">
    {% if section.settings.heading != blank or section.settings.subHeading != blank %}
      <div class="section-header">
        {% if section.settings.heading != blank %}<h3 class="section-header__title">{{ section.settings.heading }}</h3>{% endif %}
        {% if section.settings.subHeading != blank %}<div>{{ section.settings.subHeading }}</div>{% endif %}
      </div>
    {% endif %}
    <div class="faqContainer">
      {% for block in section.blocks %}
        {% if block.type == 'contentWithImage' %}
          <div class="inner-page-width">
            <div class="toggle_wrapper">
              <h2 class="toggle_title">
                <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <rect fill="none" height="50" width="50"></rect>
                  <line fill="none" stroke="currentColor" stroke-miterlimit="6" stroke-width="3" x1="9" x2="41" y1="25" y2="25"></line>
                  <line fill="none" stroke="currentColor" stroke-miterlimit="6" stroke-width="3" x1="25" x2="25" y1="9" y2="41"></line>
                </svg>
                {{ block.settings.question }}
              </h2>
  
              <div class="toggle_content">
                <div class="padding_innter_content grid flex-display grid--uniform{% if block.settings.reverse %} row-reverse{% endif %}">
                  <div class="grid__item medium-up--six-twelfths">
                    <div class="right-content-wrapper">
                      <img class="lazyload"
                      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                      data-src="{{ block.settings.image | img_url: 'master' }}"
                      data-widths="[360, 540, 720, 900, 1080, 1600]"
                      alt="{{ block.settings.image.alt }}"
                      data-sizes="auto">
                    </div>
                  </div>
  
                  <div class="grid__item medium-up--six-twelfths">
                    <div class="left-content-wrapper">
                      {% if block.settings.heading != blank %}
                        <h3>{{ block.settings.heading }}</h3>
                      {% endif %}
                      {% if block.settings.mainContent != blank %}
                        <div class="content">
                          {{ block.settings.mainContent }}
                        </div>
                      {% endif %}
                      {% if block.settings.steps != blank %}
                        <div class="steps stepsContainer">
                          {{ block.settings.steps }}
                        </div>
                      {% endif %}
                      {% if block.settings.afterStepsContent != blank %}
                        <div class="afterSteps">
                          {{ block.settings.afterStepsContent }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="inner-page-width">
            <div class="toggle_wrapper">
              <h2 class="toggle_title">
                <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <rect fill="none" height="50" width="50"></rect>
                  <line fill="none" stroke="currentColor" stroke-miterlimit="6" stroke-width="3" x1="9" x2="41" y1="25" y2="25"></line>
                  <line fill="none" stroke="currentColor" stroke-miterlimit="6" stroke-width="3" x1="25" x2="25" y1="9" y2="41"></line>
                </svg>
                {{ block.settings.question }}
              </h2>
  
              <div class="toggle_content">
                <div class="padding_innter_content grid flex-display grid--uniform ">
                  <div class="grid__item medium-up--six-twelfths">
                    <div class="left-content-wrapper">
                      <div class="DivsContainer">
                        <div class="leftDivContainer">
                          <img class="lazyload"
                          data-aspectratio="{{ block.settings.leftImage.aspect_ratio }}"
                          data-src="{{ block.settings.leftImage | img_url: '130x130' }}"
                          data-widths="[130]"
                          alt="{{ block.settings.leftImage.alt }}"
                          data-sizes="auto">
                        </div>
                        <div class="rightDivContainer">
                          <h4>{{ block.settings.leftHeading }}</h4>
                          <div class="content">
                            {{ block.settings.leftMainContent }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="grid__item medium-up--six-twelfths">
                    <div class="left-content-wrapper">
                      <div class="DivsContainer">
                        <div class="leftDivContainer">
                          <img class="lazyload"
                          data-aspectratio="{{ block.settings.rightImage.aspect_ratio }}"
                          data-src="{{ block.settings.rightImage | img_url: '130x130' }}"
                          data-widths="[130]"
                          alt="{{ block.settings.rightImage.alt }}"
                          data-sizes="auto">
                        </div>
                        <div class="rightDivContainer">
                          <h4>{{ block.settings.rightHeading }}</h4>
                          <div class="content">
                            {{ block.settings.rightMainContent }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FAQ's Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "richtext",
      "id": "subHeading",
      "label": "Content",
      "default": "<p>Open each title for answers to frequently asked questions.</p>"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "bgColor",
      "label": "Background Color",
      "default": "#271D2E"
    },
    {
      "type": "color",
      "id": "text",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Padding(Top and Bottom)",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "contentWithImage",
      "name": "Content With Image",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "mainContent",
          "label": "Content"
        },
        {
          "type": "richtext",
          "id": "steps",
          "label": "Steps"
        },
        {
          "type": "richtext",
          "id": "afterStepsContent",
          "label": "Content After Steps"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "reverse",
          "label": "Reverse Columns"
        }
      ]
    },
    {
      "type": "colunmWithImage",
      "name": "Colunm With Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "bgImage",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "text",
          "id": "leftHeading",
          "label": "Left Heading"
        },
        {
          "type": "richtext",
          "id": "leftMainContent",
          "label": "Left Content"
        },
        {
          "type": "image_picker",
          "id": "leftImage",
          "label": "Left Image"
        },
        {
          "type": "text",
          "id": "rightHeading",
          "label": "Right Heading"
        },
        {
          "type": "richtext",
          "id": "rightMainContent",
          "label": "Right Content"
        },
        {
          "type": "image_picker",
          "id": "rightImage",
          "label": "Right Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Content",
      "name":"FAQ's Section",
      "blocks": [
        {
          "type": "contentWithImage"
        },
        {
          "type": "contentWithImage"
        },
        {
          "type": "colunmWithImage"
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.bgColor }};
    color: {{ section.settings.text }};
    margin: 0;
    padding: {{ section.settings.padding }}px 0;
  }
  #shopify-section-{{ section.id }} .flex-display {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #shopify-section-{{ section.id }} .flex-display.row-reverse {
    flex-direction: row-reverse;
  }
  #shopify-section-{{ section.id }} .toggle_title {
    font-family: Lora;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    margin: 0.75rem 0;
    text-align: center;
  }
  #shopify-section-{{ section.id }} .toggle_title svg {
    width: 40px;
    height: 40px;
    position: relative;
    top: 0;
    margin-right: 15px;
    transition: transform 0.2s ease-out;
    vertical-align: sub;
  }
  #shopify-section-{{ section.id }} .toggle_title.tactive svg {
    transform: rotate(45deg);
  }
  #shopify-section-{{ section.id }} .toggle_content {
    display: none;
  }
  #shopify-section-{{ section.id }} .toggle_content .grid__item {
    padding: 3rem 0;
  }
  #shopify-section-{{ section.id }} .toggle_content .grid__item > * {
    margin: 0 auto;
    max-width: 37.5rem;
  }
  #shopify-section-{{ section.id }} .toggle_content .grid__item .right-content-wrapper {
    max-width: 27rem;
  }
  #shopify-section-{{ section.id }} .toggle_content h3 {
    font-family: Lora,serif;
    font-size: 1.75rem;
    letter-spacing: .025em;
    line-height: 1.5;
  }
  #shopify-section-{{ section.id }} .toggle_content h4 {
    font-family: Lora;
    font-size: 1.375rem;
    font-weight: 500;
  }
  #shopify-section-{{ section.id }} .toggle_content p {
    font-family: 'Work Sans',sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
  }
  #shopify-section-{{ section.id }} .DivsContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
  }
  #shopify-section-{{ section.id }} .DivsContainer > div {
    padding: 15px;
  }
  #shopify-section-{{ section.id }} .leftDivContainer {
    width: 10.125rem;
  }
  #shopify-section-{{ section.id }} .leftDivContainer img {
    margin: 0 auto;
    width: auto;
  }
  #shopify-section-{{ section.id }} .rightDivContainer {
    width: calc(100% - 10.125rem);
  }
  /* #shopify-section-{{ section.id }} .stepsContainer {
    counter-reset: section;
  }
  #shopify-section-{{ section.id }} .stepsContainer p {
    counter-increment: section;
    font-family: Lora;
    font-size: 1.625rem;
    font-weight: 500;
  }
  #shopify-section-{{ section.id }} .stepsContainer p::before {
    color: #2274A5;
    content: counter(section, decimal-leading-zero);
    font-family: Freestyle Script;
    font-size: 3rem;
    font-weight: 400;
    padding-right: 1rem;
  } */
  #shopify-section-{{ section.id }} .stepsContainer {
    counter-reset: section;
    margin: 0 0 .7em;
  }
  #shopify-section-{{ section.id }} .stepsContainer p {
    counter-increment: section;
    margin: 0;
  }
  #shopify-section-{{ section.id }} .stepsContainer p::before {
    content: "Step " counter(section) ":";
    font-weight: bold;
    margin-right: .5em;
  }
  @media only screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .leftDivContainer,
    #shopify-section-{{ section.id }} .rightDivContainer {
      width: 100%;
    }
    #shopify-section-{{ section.id }} .grid__item + .grid__item {
      margin-top: 1.75rem;
    }
    #shopify-section-{{ section.id }} .toggle_title {
      font-size: 1.6em !important;
      margin: 1.875rem 0;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }
    #shopify-section-{{ section.id }} .toggle_title svg {
      height: 30px;
      margin: 0;
      width: 30px;
    }
    #shopify-section-{{ section.id }} .toggle_content h3 {
      font-size: 1.6em !important;
    }
  }
{% endstyle %}

<script type="text/javascript">
  jQuery(document).ready(function($) {
    jQuery('#shopify-section-{{ section.id }} .toggle_title').on('click', function() {
      jQuery(this).parents('.inner-page-width').siblings().find('.toggle_content').slideUp();
      jQuery(this).parents('.inner-page-width').siblings().find('.toggle_title').removeClass('tactive');

      if(jQuery(this).hasClass('tactive')) {
        jQuery(this).removeClass('tactive');
        jQuery(this).parents('.inner-page-width').find('.toggle_content').slideUp();
      } else {
        jQuery(this).addClass('tactive');
        jQuery(this).parents('.inner-page-width').find('.toggle_content').slideDown();
      }
    })
  });
</script>