<div class="page-width">
  <div class="custom_background">
    {% if section.settings.heading != blank or section.settings.subHeading != blank %}
      <div class="section-header">
        {% if section.settings.heading != blank %}<h3 class="section-header__title">{{ section.settings.heading }}</h3>{% endif %}
        {% if section.settings.subHeading != blank %}<div class="section-header__contect">{{ section.settings.subHeading }}</div>{% endif %}
      </div>
    {% endif %}
    {% if section.settings.image.src != blank %}<div class="mainImage text-center"><img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}"></div>{% endif %}
    <div class="badgeImage text-center">
      <div id="stamped-reviews-widget" data-widget-type="full-page" product-image="false" data-image="false" data-random="true" data-take="2"></div>
    </div>
    {%- comment -%}{% if section.settings.badge.src != blank %}<div class="badgeImage text-center"><img src="{{ section.settings.badge | img_url: 'master' }}" alt="{{ section.settings.badge.alt }}"></div>{% endif %}{%- endcomment -%}
  </div>
</div>

{% schema %}
{
  "name": "Photograpghers",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "50,000 Photograpghers."
    },
    {
      "type": "richtext",
      "id": "subHeading",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "bgColor",
      "label": "Background Color",
      "default": "#271D2E"
    },
    {
      "type": "color",
      "id": "text",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Padding(Top and Bottom)",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 75
    }
  ],
  "presets": [
    {
      "category": "Images",
      "name": "Photograpghers"
    }
  ]
}
{% endschema %}

{% style %}
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.bgColor }};
    color: {{ section.settings.text }};
    margin: 0;
    padding: {{ section.settings.padding }}px 0;
  }
  #shopify-section-{{ section.id }} .section-header__contect {
    margin: 0 auto;
    max-width: 37rem;
  }
  #shopify-section-{{ section.id }} .badgeImage {
    margin-top: 30px;
  }

  {% comment %} Pagination {% endcomment %}
  #shopify-section-{{ section.id }} .stamped-pagination > div {
    padding: 1rem 0;
  }
  #shopify-section-{{ section.id }} .stamped-pagination > div > span[style*="display: none;"] {
    display: flex !important;
    opacity: .5;
  }
  #shopify-section-{{ section.id }} .stamped-pagination > div,
  #shopify-section-{{ section.id }} .stamped-pagination > div > span {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin: 0;
  }
  #shopify-section-{{ section.id }} .stamped-pagination > div .stamped-pagination-page::after {
    display: none;
  }
  #shopify-section-{{ section.id }} .stamped-pagination > div a {
    background: unset;
    background-color: transparent;
    border: 1px solid #f45332 !important;
    border-radius: 0;
    color: #f45332;
    display: inline-block;
    font-size: 12px;
    line-height: 1.42;
    padding: 5px 10px !important;
    text-decoration: none;
    text-align: center;
  }
  #shopify-section-{{ section.id }} .stamped-pagination > div .stamped-pagination-page.is-active a {
    background-color: #f45332;
    color: #fff;
  }
  {% comment %} Pagination {% endcomment %}
  @media only screen and (min-width: 769px) {
    #shopify-section-{{ section.id }} .mainImage img {
      max-width: 70%;
    }
  }
  @media only screen and (max-width: 768px) {
    #shopify-section-{{ section.id }} .stamped-pagination > div a {
      padding: 3px 6px !important;
    }
  }
{% endstyle %}

<script type="text/javascript">
  (function() {
    jQuery(document).ready(function($) {
      const page = $("html, body");
      page.bind('DOMSubtreeModified', function (e) {
        $(document).find("#shopify-section-{{ section.id }} .stamped-pagination a").on('click', function(e) {
          setTimeout(function() {
            jQuery('html, body').queue([]).stop();
          }, 10);
        });
      })
    });
  })()
</script>